[Unit]
Description=Hydrafiles Service
After=network.target

[Service]
ExecStart=/usr/bin/deno /root/Hydrafiles/src/start.ts
Restart=always
User=root
Environment=NODE_ENV=production
WorkingDirectory=/root/Hydrafiles/

[Install]
WantedBy=multi-user.target
