[Unit]
Description=Hydrafiles Service
After=network.target

[Service]
ExecStart=/usr/bin/node /root/Hydrafiles/dist/start.js
Restart=always
User=root
Environment=NODE_ENV=production
WorkingDirectory=/root/Hydrafiles/

[Install]
WantedBy=multi-user.target
